<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	
	{literal}
	<style type="text/css">
		body {font-family:Arial, monospace, sans-serif; font-size: 0.9em;}
		.hint {font-size: 0.7em;}
	</style>
	{/literal}
</head>
<body>
<h3>== airbox ==</h3>

<form action="login.php" method="get"/>

Device Key: <input type="text" name="device_key" value="{$device_key}" />

<input type="submit" value="GO"/>
<input type="hidden" name="action" value='auth_device_key'>
</form>

<a href="login.php?action=reset_device_key">Reset Device Key</a>



</body>
</html>
