<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AirBox</title>
		<link rel="icon" href="favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="icon_152.png">

		<!-- Sets initial viewport load and disables zooming  -->

		<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>


		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="themes/airbox.min.css" />
		<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />


		<script src="http://www.jsviews.com/download/jsviews.js"></script>

		<!--- List template -->

		<script id="listTemplate" type="text/x-jsrender">
			<li>
			<a href="#radio"> <img  src="{{:icon_url}}" > <h2>{{:title}}</h2> </a>
			<a href="#info_{{:station_id}}" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
			</li>

		</script>

		<!--  <div id="modal_{{:station_id}}" class="modal">
		<header class="bar bar-nav">
		<a class="icon icon-close pull-right" href="#modal_{{:station_id}}"></a>
		<h1 class="title">{{:title}}</h1>
		</header>

		<div class="content">
		<img src="{{:icon_url}}"/>
		<p class="content-padded">{{:description}}</p>
		</div>
		</div>

		<!-- style="line-height: 42px " -->

		<script type="text/javascript">
						// когда страница загрузится

$(document).bind('pageinit',function(){



	$.getJSON("http://dev2.airboxfm.com/ui_radio_getRadioList.php", function (result){

			var template = $.templates("#listTemplate");
			template.link("#radioList", result);
			$("#radioList").listview("refresh");
			$(".media-body").click(function (){alert("gdf");} );

			        });
			});
		</script>

	</head>
	<body >

		<!-- Make sure all your bars are the first things in your <body> -->

		<div data-role="page" id="main" data-theme="b">

			<div data-role="header" style="overflow:hidden;">
				<h1>Choose station</h1>

				<a href="index.html#appList" data-ajax="false" data-transition="slide" data-icon="back" class="ui-btn ui-btn-left ui-btn-icon-notext ui-icon-back" style="border: none;"></a>

			</div>

			<div role="main" class="ui-content ">

				<ul data-role="listview" data-split-icon="info" data-split-theme="a" data-inset="true" id="radioList">
					<!-- load radios list in  $(document).ready -->

				</ul>

			</div>

		</div>

	</body>
</html>